@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0%;
    padding:0;
    box-sizing: border-box;
    font-family: outfit;
    scroll-behavior: smooth;
    
}
a{
    text-decoration: none;

}
.navbar{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    position:absolute;
    padding-top: 30px;
    color: #49557e;
}
.nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    align-items: center;
    padding-left: 600px;
    cursor: pointer;
    color: #49557e;
}
.nav .active{
    
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    color: #6a7aad;
}
.navsearch{
    padding-left: 300px;
}
.navbasket{
    padding-left:50px;
}
.navbasket .dot{
    position: absolute;
    min-width: 5px;
    min-height: 5px;
    background: tomato;
    border-radius: 5px;
    top: 30px;
    right: 125px;
}
.button{
    background: transparent;
    font-size: 16px;
    color:#49557e;
    border-radius: 15px;
    width: 80px;
    height: 30px;
    border: 1px solid;
    margin-left: 50px;
    transition: 0.3s

}
.button:hover{
    background: whitesmoke
}
@media (max-width: 768px){

    .nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    padding-left: 500px;
    color: #49557e;
}
}