.footer{
    color: #d9d9d9;
    background-color: #4e4b4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
 .footer-left, .footer-center, .footer-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

  .footer-center li, .footer-right li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 0%;
    position: relative;

    
}
.footer-right .mail{
    margin-top: -22px;
}

 .footer-center h2, .footer-right h2{
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.footer-social-icons img{
  width: 40px;
  margin-left: 15px;
}
.footer hr{
    width: 100%;
    height: 0.5px;

}

